<div class="">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-user-plus"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Cheat on Your Taxes</h4>
                  
                </div>
            </div>
        </div>
<div>
	<p>As we discuss in much of our other content, tax avoidance the first priority in achieving financial health. Most of these are legal, benign and encouraged strategies like investing with an IRA or 401k</p>

<p>If you’re wealthy enough that these tax avoidance strategies are maxed out or no longer apply then maybe a well-lobied grey area tax avoidance strategy is right for you. In no way is the following the most comprehensive strategy and you can likely afford someone to look over your finances, and even assume some legal responsibility. With that said, here are a few ways you can avoid paying as much taxes as everyone else:</p>

<ol>Borrow against assets - 

    <li>Keep your investments longer</li>

    <li>Start a Charity</li>

    <li>Self-Employment incorporation, incorporate yourself</li>

    <li>Mortgage interest on a second home</li>

    <li>Self-direct your IRA into your own business deals</li>

    <li>Use losses on your stocks to offset tax liablity</li>

    <li>Life insurance </li>

    <li>Set up a deferred payment plan</li>
</ol></p>

</div>