<div class="">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-user-plus"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Earn More</h4>
                  
                </div>
            </div>
        </div>
<div>
	<p>Investing in stocks or real estate is a great way to build upon your existing wealth, but what if you have no wealth or no foreseeable way to earn wealth?</p> 

<p>Investing in yourself is never a bad idea. However, in some cases, it is the only option to achieve your goals. If, for example, you are unable to save money each month and you are saving for retirement, you will have to rely only on Social Security. If you invest in yourself you can earn more money and invest tha money into your retirement.</p>



 <p>Think of yourself as an asset, because you earn money. Are you a one bedroom in the Bronx, or a suite overlooking Central Park?</p>

<p>Now how can you make yourself into the best possible asset? </p>


    <p>Do some introspection</p>

There are some important questions you should ask yourself when pursuing a career. What do you enjoy doing? 

      <p>Do some research </p>

Shortly after doing some introspection, look at the opportunities available to you and the field or career path you want to pursue. Also, keep in mind that the job market is changing rapidly so you may want to consider choosing a career that is future-proof.

      <p>Look into alternative form of education</p>

The job market is the only thing changing. There are many new ed-tech and informal education opportunities available to all .
    
    <p>Coursera - a collection of inexpensive online classes and specializations</p>

    <p>Udacity - </p>

    <p>Coding Bootcamps - Bootcamps started with coding bootcamps but now </p>

    <p>Other Bootcamps - General Assembly offers short bootcamp-style courses in subjects like </p>

<p>you mustn’t limit investing in yourself in finding a good job. Your mental health, people skills and education are crucial elements in long-term financial health</p>

<p>Consider taking risks. If you aren’t earning enough right now to acheive your financial goals there may be some external contraints. Now is the best time to take risks because youre not risking much.</p>
</div>