<div class="">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-user-plus"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">IRA & 401k</h4>
                  
                </div>
            </div>
        </div>
<div>
	<p>Can use IRAs and 401k in conjunction with other strategies</p>
    
    <p>Roth IRA</p>
After tax, will you be taxed higher later?
Under 50 up to 5500, over 6500
$117,000 - $132,000
<p>Traditional IRA</p>
Under 50 up to 5500, over 6500
$61,000-$71,000 single
<p>Roth 401k</p>
Better for Younger because like roth is after tax dollars, could grow a lot

<p>401k</p>
Usually employee match
Pre tax. taxed when taken out
Up to 18000, if youre under 50, 24000 otherwise
</p>
</div>