<div class="">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-user-plus"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Life Insurance</h4>
                  
                </div>
            </div>
        </div>
<div>
	<p>“Buy term and invest the difference” is such common life insurance advice it has its own Wikipedia page. </p>
</div>