<div class="col-sm-6 col-sm-offset-3 login-widget">

    
<h1>This feature is not yet available</h1>
    <!-- show any messages that come back with authentication -->
    
        <h2 class="col-xs-6 text-center active-{{logister}}"  ng-click="logister = !logister">Login</h2>
        <h2 class="col-xs-6 text-center active-{{!logister}}"  ng-click="logister = !logister">Register</h2>
        <!-- LOGIN FORM -->
        <form action="/login" method="post" ng-show="logister">
        
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>

        <form action="/signup" method="post" ng-hide="logister">
        
            <div class="form-group">
                <label>Sign-up Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label>Goal Change</label>
                <input type="text" class="form-control" name="goalChange">
            </div>
            

            <button type="submit" class="btn btn-warning btn-lg">Register</button>
        </form>
    

    <hr>

    
    <p>Or go <a href="#/home">home</a>.</p>

</div>
