<div class="">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-user-plus"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Pay Down Debt</h4>
                  
                </div>
            </div>
        </div>
<div>
	<p>
If you have credit card debt, pay it off. Your next priority is to make sure you have three to six months of cash in case anything drastic happens. After that, paying down debt may not be the best strategy. Here is when you want to consider paying down debt:</p>

<p>You have low risk tolerance or you hate debt</p>

<p>    2) You have a high debt-to-income ratio</p>

    <p>3) You have a recent high interest loan - amortization</p>

    <p>4) compare your “after taxes”</p>

</div>