<div class="">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-user-plus"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Who you Are</h4>
                  
                </div>
            </div>
        </div>

<form action="#" class="form-inline lead-big gr-background" role="form" name="startForm">
            <div class="form-group">
              Hello, I want to 
              <!-- <input type="text" id="name" placeholder="@maridlcrmn" required> -->
              <select ng-model="goalItem" ng-options="goalItem.name for goalItem in goalItems" ng-change="goalChange(goalItem, {{goalItem || 'null'}})"></select>
            </div>

            <div class="form-group">
              in
              <input type="text" id="company" placeholder="10" ng-model="goalLength" ng-change="timeChange(goalLength, {{goalLength || 'null'}})" >
              years. 
            </div>

            <br>
            <br>

            <div class="form-group">
              I'm able to save
              <input type="text" id="company" placeholder="10" ng-model="saveAmount" ng-change="saveChange(saveAmount, {{saveAmount || 'null'}})">
            	dollars a month
            </div>
            <div class="form-group">

              and currently have
              <input type="text" id="company" placeholder="10,000" ng-model="accountAmount" ng-change="accountChange(accountAmount, {{accountAmount || 'null'}})">
              <!-- <textarea id="subject" placeholder="big amazing project" required></textarea> -->
              dollars in savings.
              I 

              <select ng-model="rentItem" name="rentItem"  ng-options="rentItem.name for rentItem in rentItems" ng-change="rentChange(rentItem, {{rentItem || 'null'}})"></select>
              my apartment/home, and have 
           
              
              <select id="freelancer" ng-model="creditItem" ng-options="creditItem.name for creditItem in creditItems" ng-change="creditChange(creditItem, {{creditItem || 'null'}})"></select>
             <!--  <input type="email" id="email" placeholder="name@mail.com" required> -->
              credit.
            
              I also have
              <input type="text" id="company" placeholder="10,000" ng-model="debtAmount" ng-change="debtChange(debtAmount, {{debtAmount || 'null'}})">
              <!-- <textarea id="subject" placeholder="big amazing project" required></textarea> -->
              dollars in debt with an interest rate higher than 7%.
            </div>

            <br>
              
           

            <!-- <button type="submit" class="btn btn-default btn-lg submit"> Find a Freelancer </button> -->
            
        </form>
        

         <div class=" text-overlay" ng-show="!startForm.rentItem.$pristine">
              <div class="sign-up-overlay">
                <form action="/signup" method="post">
                  Sign up now to get learn why you should invest in Real Estate
                  <!-- <input type="text" id="name" placeholder="@maridlcrmn" required> -->
                  <input  type="text" id="" placeholder="Email" name="email" >
                  <input  type="password" id="" placeholder="Password" name="password">
                  <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                </form>
              </div>
            </div>