<div class="">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-user-plus"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Who you Are</h4>
                  
                </div>
            </div>
        </div>

<form action="#" class="form-inline lead-big gr-background" role="form">
            <div class="form-group">
              Hello, I want to 
              <!-- <input type="text" id="name" placeholder="@maridlcrmn" required> -->
              <select ng-model="selectedItem" ng-options="item.name for item in items" ng-change="selectedItemChanged(selectedItem, {{selectedItem || 'null'}})">
                 
             
              </select>
              
            </div>
            <div class="form-group">
              in
              <input type="text" id="company" placeholder="10">
              years.
            </div>
            <br>
            <br>
            <div class="form-group">
              I'm able to save
              <input type="text" id="company" placeholder="10">
            	dollars a month
            </div>
            <div class="form-group">
              and currently have
              <input type="text" id="company" placeholder="10,000">
              <!-- <textarea id="subject" placeholder="big amazing project" required></textarea> -->
              dollars in savings.
           
              I 
              <select id="time">
                  <option value="0" selected>Rent</option>
                  <option value="1">own</option>
                  
              </select>
              my apartment/home, and have 
           
              
              <select id="freelancer">
                  <option value="1">Excellent (740+)</option>
                  <option value="2">Good (680 - 740)</option>
                  <option value="3">Fair (600 - 680)</option>
                  <option value="4">Bad (Below 600)</option>
                  
              </select>
             <!--  <input type="email" id="email" placeholder="name@mail.com" required> -->
              credit.
            
              I also have
              <input type="text" id="company" placeholder="10,000">
              <!-- <textarea id="subject" placeholder="big amazing project" required></textarea> -->
              dollars in debt with an interest rate higher than 7%.
            </div>

            <!-- <button type="submit" class="btn btn-default btn-lg submit"> Find a Freelancer </button> -->
            
        </form>