<div class="">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-user-plus"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Real Estate</h4>
                  
                </div>
            </div>
        </div>
<div>
	<p>Real estate should play some role in your investment portfolio, even if it’s just owning your home or apartment, there are too many advantages. </p>
    
    <p>Monthly payments are going to principal - forced savings</p>
    <p>Mortage interest reduction</p>
    <p>Value increases over time - about cost of inflation</p>
    <p>Leverage</p>
    <p>Cash flow (if investment)</p>

    <p>You can leverage all of these advantages with online real estate crowdfunding sites with the added bonus of liquidity</p>

    <p>Crowdstreet</p>
    <p>Realty Mogul</p>
    <p>Realty Shares</p>
    <p>Fundrise</p>

    <p>REIT is another option but is not recommended.</p>
</div>