<div class="">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-user-plus"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Startups & Lending</h4>
                  
                </div>
            </div>
        </div>
<div>
	<p>Lend people money online and you can get a pretty nice return on your investment.</p> 

<p>An accredited investor is one that has been deemed “financially sophisticated” enough to make their own investment decisions. They must earn an individual income of more than $200,000 per year, or a joint income of $300,000, in each of the last two years and expect to reasonably maintain the same level of income, or have a net worth exceeding $1 million, either individually or jointly with his or her spouse.</p>

<p>The internet is a great democratizing resource, and the democritization of investing has allowed regular people the ability to invest in loans some of the more fun types of investments. Startups are fun to watch grow and can result in huge returns (of course, there is a lot of risk)</p>

<p>Since the advent of the jobs act title III, there are a number of new opportunities for aspiring angel investors. AngelList is the largest network of fundraising startups and has been offering the opportunity to invest alongside professional angel investors, even Tim Ferris.</p>

<p>Unfortunately, AngelList hasn’t entirely adopted non-accredited investors, but there are few new startup crowdfunding sites available. Please, keep in mind this is nascent but a site like SeedInvest invests alongside its users.</p>
</div>