<div class="">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-user-plus"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Stocks & Bonds</h4>
                  
                </div>
            </div>
        </div>
<div>
	<p>When most people think of investing they think of the stock market and investing in stocks and bonds.</p> 

<p>The first thing you learn in the market or from any financial planner is that investing for 0 - 5 years is considered high risk, 5 - 10 years is medium risk, 10 - 15 years is low risk</p>

<p>and in concert with IRA and 401k tax avoidance strategies Stocks and bonds are a necessary investment diversity strategy</p>

<p>Keep in mind a stock vs bond strategy based for this. Depends greatly on time</p>

<p>Now how do you invest in stocks and bonds:</p>

<p>Do it yourself -  This may seem like the most interesting strategy, and maybe you’re the next Warren Buffet but don’t underestimate the amount of research the professionals do to earn 4 - 10% return a year. It can be fun to try investing yourself, but try it for free first. If you insist there is now an app that allows free trades - robinhood.com</p>

<p>Robo-advisers  -     Robo-advisers are increasingly used to. There are basically two types of these, ones that invest for you and ones that advise you - https://www.nerdwallet.com/blog/investing/wealthfront-vs-betterment</p>

<p>Somewhere in between - Invest in good: https://www.wundercapital.com/funds/income/characteristics
https://www.motifinvesting.com/ invest in a theme, best of bo</p>
</div>