<!DOCTYPE html>
<html>
  <head>
    <% include partials/header.ejs %>
  </head>
  <body ng-app="investar" id="/home.html">

    <% include partials/navbar.ejs %>

    <ui-view></ui-view>

    <script type="text/ng-template" id="/home.html">
      
      <section>
        <div class="container">
          <div class="row col-lg-8 ">
          	<% include partials/personal-info.ejs %>
          </div>
        	<div class="row">
            <% include partials/options.ejs %>
          </div>
        </div>
      </section>
    </script>

    

  </body>
</html>