<!DOCTYPE html>
<html>
  <head>
    <% include partials/header.ejs %>
  </head>
  <body ng-app="investar" id="/home.html">

    <% include partials/navbar.ejs %>

    <ui-view></ui-view>

    <script type="text/ng-template" id="/home.html">
      
      <section>
        <div class="container">
          <div class="row col-sm-8 ">
          	<% include partials/personal-info.ejs %>
          </div>
        	<div class="row">
            <% include partials/options.ejs %>
          </div>
        </div>
      </section>
    </script>

    <script type="text/ng-template" id="/life-insurance.html">
        <section>
        <div class="container">
          <div class="row col-sm-8  ">
            <% include partials/life-insurance.ejs %>
          </div>
          <div class="row">
            <% include partials/options.ejs %>
          </div>
        </div>
      </section>
    </script>

    <script type="text/ng-template" id="/real-estate.html">
        <section>
        <div class="container">
          <div class="row col-sm-8  ">
            <% include partials/real-estate.ejs %>
          </div>
          <div class="row">
            <% include partials/options.ejs %>
          </div>
        </div>
      </section>
    </script>

    <script type="text/ng-template" id="/stocks-bonds.html">
        <section>
        <div class="container">
          <div class="row col-sm-8  ">
            <% include partials/stocks-bonds.ejs %>
          </div>
          <div class="row">
            <% include partials/options.ejs %>
          </div>
        </div>
      </section>
    </script>

  <script type="text/ng-template" id="/startups-lending.html">
        <section>
        <div class="container">
          <div class="row col-sm-8  ">
            <% include partials/startups-lending.ejs %>
          </div>
          <div class="row">
            <% include partials/options.ejs %>
          </div>
        </div>
      </section>
    </script>

    <script type="text/ng-template" id="/ira-401k.html">
        <section>
        <div class="container">
          <div class="row col-sm-8  ">
            <% include partials/ira-401k.ejs %>
          </div>
          <div class="row">
            <% include partials/options.ejs %>
          </div>
        </div>
      </section>
    </script>

    <script type="text/ng-template" id="/pay-down-debt.html">
        <section>
        <div class="container">
          <div class="row col-sm-8  ">
            <% include partials/pay-down-debt.ejs %>
          </div>
          <div class="row">
            <% include partials/options.ejs %>
          </div>
        </div>
      </section>
    </script>

    <script type="text/ng-template" id="/earn-more.html">
        <section>
        <div class="container">
          <div class="row col-sm-8  ">
            <% include partials/earn-more.ejs %>
          </div>
          <div class="row">
            <% include partials/options.ejs %>
          </div>
        </div>
      </section>
    </script>

    <script type="text/ng-template" id="/cheat-on-taxes.html">
        <section>
        <div class="container">
          <div class="row col-sm-8  ">
            <% include partials/cheat-on-taxes.ejs %>
          </div>
          <div class="row">
            <% include partials/options.ejs %>
          </div>
        </div>
      </section>
    </script>

   

    <script type="text/ng-template" id="/login.html">
        <section>
        <div class="container">
          
          <div class="row">
            <% include partials/login.ejs %>
          </div>
        </div>
      </section>
    </script>

    

  </body>
</html>