<!DOCTYPE html>
<html>
  <head>
    <% include partials/header.ejs %>
  </head>
  <body>
  	<% include partials/navbar.ejs %>

  	<form action="" method="post">
  		<input type="text" name="username" placeholder="Username">
  		<input type="text" name="password" placeholder="Password">
  		<input type="submit" value="Login">
  		
  	</form>
  </body>