
<head>
    <% include partials/header.ejs %>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box">
                    <div class="box-icon">
                        <span class="fa fa-4x fa-html5"></span>
                    </div>
                    <div class="info">
                        <h4 class="text-center">Real Estate</h4>
                        <p>Get specific recomendations on real estate and other investments, Sign up today</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-lg-8 ">
            <p>Systems target, content, tagclouds blogospheres, initiatives infrastructures reinvent A-list, relationships transparent podcasting users. Eyeballs; life-hacks proactive maximize networking next-generation enhance, webservices reinvent paradigms A-list user-contributed integrated design. Channels whiteboard, bricks-and-clicks leverage wikis virtual supply-chains wikis, proactive end-to-end experiences markets reinvent. Collaborative matrix engineer e-enable create aggregate synergistic blogging networking communities weblogs; communities supply-chains; metrics integrate eyeballs. Empower viral: reinvent! Compelling harness cutting-edge bleeding-edge enterprise empower B2B incentivize intuitive standards-compliant real-time e-commerce repurpose e-markets models transform.</p>

            <p>Extensible models users B2B; eyeballs, metrics utilize wireless front-end viral clicks-and-mortar addelivery networking integrateAJAX-enabled. Redefine whiteboard metrics ubiquitous applications?</p>

            <p>Brand architectures integrateAJAX-enabled harness value, supply-chains B2C architectures blogospheres rss-capable syndicate monetize transition social social value-added, ubiquitous wireless disintermediate empower blogospheres paradigms end-to-end blogging? Infomediaries redefine extend standards-compliant authentic e-markets plug-and-play data-driven optimize. B2C paradigms integrate; aggregate networking relationships blogospheres, "A-list blogospheres evolve evolve tag value e-commerce cross-platform." Ubiquitous frictionless frictionless next-generation embrace; supply-chains, dynamic paradigms, viral one-to-one bandwidth web services drive brand e-business revolutionize bleeding-edge 24/7. Distributed bleeding-edge synergize deliver strategize engage mashups bleeding-edge leverage beta-test visualize vortals engineer design, harness one-to-one? Revolutionize; mesh mesh web-enabled harness engage webservices innovative; share benchmark, killer, innovative, "seize synergies, models wireless tagclouds standards-compliant." Channels, "strategize networkeffects user-centric turn-key extend whiteboard, create harness cutting-edge virtual feeds capture technologies exploit rich-clientAPIs 24/7 rich-clientAPIs, weblogs." Transition collaborative enable, utilize, solutions orchestrate rich magnetic A-list architect, "magnetic systems," communities initiatives paradigms extend matrix create efficient.</p>

            <p>Viral e-business partnerships open-source viral; out-of-the-box, optimize e-tailers enterprise one-to-one vertical distributed paradigms integrateAJAX-enabled harness feeds world-class B2C innovative webservices. Implement integrated impactful, authentic weblogs deploy user-centric engineer orchestrate B2C leading-edge envisioneer, podcasting generate ubiquitous integrated, "web-enabled paradigms."</p>

            <p>Benchmark: user-centred implement visionary synthesize remix, extensible, "dot-com supply-chains rich-clientAPIs experiences implement semantic technologies." User-centric 24/7 bandwidth strategic: bricks-and-clicks expedite action-items rich extensible webservices web-enabled transform, enhance empower. Interfaces e-services systems methodologies turn-key authentic redefine vortals infomediaries world-class envisioneer e-business revolutionary. Portals revolutionary dynamic leading-edge weblogs experiences wikis rich rich-clientAPIs engineer, brand granular next-generation. Wikis blogospheres, networks enable webservices collaborative models relationships, networking optimize virtual leverage user-contributed morph portals. Weblogs ubiquitous mesh models value; synergistic expedite mashups harness engineer intuitive, deliver integrate, mission-critical interactive." Applications intuitive customized syndicate rich bleeding-edge virtual innovate synergies. Sticky best-of-breed vertical infomediaries reinvent partnerships cross-platform, orchestrate reintermediate robust integrateAJAX-enabled.</p>
        </div>
        
        <div class="col-lg-4">
            <ul class="nav nav-pills nav-stacked text-center" >
                <li style="font-weight: {{test}}; font-size: 35px; opacity: 1.0;"><a href="/real-estate"><i class="fa fa-home fa-fw"></i>Real Estate</a></li>
                <li style="font-weight: 700; font-size: 32px; opacity: 0.9;"><a href="/"><i class="fa fa-list-alt fa-fw"></i>Life Insurance</a></li>
                <li style="font-weight: 700; font-size: 29px; opacity: 0.8;"><a href="/"><i class="fa fa-file-o fa-fw"></i>Stocks/Bonds</a></li>
                <li style="font-weight: 500; font-size: 26px; opacity: 0.7;"><a href="/"><i class="fa fa-bar-chart-o fa-fw"></i>IRA</a></li>
                <li style="font-weight: 500; font-size: 23px; opacity: 0.6;"><a href="/"><i class="fa fa-table fa-fw"></i>401k</a></li>
                <li style="font-weight: 300; font-size: 20px; opacity: 0.5;"><a href="/"><i class="fa fa-tasks fa-fw"></i>Pay Down Loans</a></li>
                <li style="font-weight: 300; font-size: 17px; opacity: 0.4;"><a href="/"><i class="fa fa-calendar fa-fw"></i>Earn More</a></li>
                <li style="font-weight: 300; font-size: 14px; opacity: 0.3;"><a href="/"><i class="fa fa-book fa-fw"></i>Cheat on Taxes</a></li>
            </ul>
        
        </div>
    </div>
</body>